.input {
    width:100%;
    display: block;
    background-color: #fff;
    appearance: none;
    min-height: 40px;
    padding: calc(var(--baseline)/1.5) calc(var(--gutter)/3);
    border: 1px solid var(--light-grey-2);
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &:focus {
            outline: 4px solid var(--highlight);
        }
        &:disabled {
            pointer-events: none;
            opacity:.7;
        }
}