.select {
	display: block;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjI0Ij48cGF0aCBkPSJNMjQgMjRIMFYwaDI0djI0eiIgZmlsbD0ibm9uZSIgb3BhY2l0eT0iLjg3Ii8+PHBhdGggZD0iTTE2LjU5IDguNTlMMTIgMTMuMTcgNy40MSA4LjU5IDYgMTBsNiA2IDYtNi0xLjQxLTEuNDF6Ii8+PC9zdmc+');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
    min-height: 40px;
    padding: calc(var(--baseline)/1.5) calc(var(--gutter)/3);
    border: 1px solid var(--mid-grey-1);
		&::-ms-expand {
			display: none;
		}
		&:focus {
			box-shadow: 0 0 1px 3px var(--highlight);
			box-shadow: 0 0 0 3px -moz-mac-focusring;
			outline: none;
		}
}